



<div class="container">
    <div class="row header">
      <div class="col">
        header
      </div>
    </div>
    <div class="row">
      <div class="col">
          <router-outlet></router-outlet>

          
      </div>
    </div>
    <div class="row footer">
        <div class="col">
          <ul>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">SUPPORT</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
          </ul>
        </div>
        <div class="col">
          <span>@ 2017 ELENA</span>
        </div>
      </div>
  </div>